# Root .gitignore for travel monorepo

# Root env
.env
.env.local

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

# Backend
backend/vendor/
backend/.env
backend/.env.backup
backend/.env.production
backend/bootstrap/cache/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/storage/*.key
backend/public/storage
backend/public/hot
backend/storage/logs/*

# OS/IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
